* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --dbx-primary: #0061ff;
    --dbx-hero: #b4d0e7;
    --dbx-check: #4981ff;
    --dbx-grey: grey;
    --dbx-white: #ffffff;
    --dbx-trial: #b4d0e7;
    --dbx-trial-text: #610842;
    --dbx-black: #000000;

    --dbx-square1: #A3D39A;
    --dbx-square2: #0192CE;
    --dbx-square3: #610842;
    --dbx-square4: #FE1C1D;
    --dbx-big-square: #F5F4F4;
    --dbx-square5: #D4011F;
    --dbx-square6: #0D2580;
    --dbx-square7: #b4d0e7;
    --dbx-square8: #FED831;
}

ul {
    list-style-type: none;
}

button {
    border: none;
    font-family: Open Sans;
    padding: .5rem 1rem;
    font-size: 1rem;
}

h1 {
    font-weight: 800;
    font-size: -webkit-xxx-large;
    padding-bottom: 2rem;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

.white-button {
    background-color: var(--dbx-white);
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    font-family: Open Sans;
    padding: .5rem 1rem;
    font-size: 1rem;
    color: black;

}



/* End Common */

/* Utilities */

.d-flex {
    display: flex;
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-8 {
    width: calc(100% / 12 * 8);
    position: relative;
}

.col-12 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.gap-half {
    gap: .5rem;
}

.gap-2 {
    gap: 2rem;
}

.py-1 {
    padding: 1rem;
}

.py-half {
    padding: .5rem 1.5rem;
}


/* End Utilities */
/* Effects*/

.blue-button,
.white-button {
    transition: .5s linear;
}

.blue-button:hover {
    filter: brightness(130%);
}

.white-button:hover {
    background-color: var(--dbx-black);
    color: var(--dbx-white);
}

.nav-border:hover {
    border-bottom: 1px solid black;
}


/* Header */


header {
    background-color: var(--dbx-white);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    justify-content: space-between;

    align-items: center;
}

nav img {
    width: 127px;
    height: 25px;
    margin: 0 2rem 0 1rem;
}

nav a {
    color: black;
    text-decoration: none;
}

nav .blue-button {
    margin: 0 1rem;
}

.right-nav {
    align-items: center;
}

nav ul {
    color: var(--dbx-grey);
    gap: 2rem;
}

.nav-border {
    height: 70px;
}


.blue-button {
    background-color: var(--dbx-primary);
    color: var(--dbx-white);
    text-align: center;
    text-decoration: none;
    font-family: Open Sans;
    padding: .5rem 1rem;
    font-size: 1rem;

}

.jumbo {
    background-color: var(--dbx-hero);
}

main {
    background-color: var(--dbx-white);

    width: 100%;
}


/* End Header */

/* Main */
.jumbo {
    margin-bottom: 20px;
}

.arrow {
    color: #000000;
}

.hero,
.info {
    padding-top: 2rem;
    width: 60%;
    margin: auto;
}


.hero .text-top,
.hero a {
    margin-bottom: 2rem;
}

.text-bottom {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.hero img {
    height: 354px;
    position: absolute;
    padding-left: 1rem;
}

/* End jumbo section */


/* plans section */

.plans {
    background-color: var(--dbx-white);
    font-size: .9rem;

}

.plans .find {
    padding-top: 7rem;

}

.business,
.wrap,
.operations,
.questions {
    width: 50%;
    margin: auto;
}

.pay-form {
    margin: 2rem 0;
    gap: .5rem;
}



.card {

    width: 100%;
    border: 0.1px solid #80808047;
    flex-direction: row;

}


.card-top {
    justify-content: center;
    padding: .5rem;
    border-bottom: 1px solid #0000002b;
}


.duration {
    color: grey;
    margin-bottom: 2rem;
}


.plan-title {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.price {
    margin-bottom: .3rem;
}

.share {
    margin-bottom: 2rem;
}

.line {
    width: 40%;
    margin: 1rem 0;
}

.card-4 {
    justify-content: space-between;
}

.subtitle {
    width: calc(100% / 12 * 8);
}

.subtitle h4 {
    padding-bottom: 3rem;
}

/* End plans section */

/* Join section */

.join,
.operations,
.companies,
.questions {
    padding-top: 8rem;
}

.partner {
    width: 100%;
}

.contact-partner {
    padding: 2rem;
}

.contact-partner h3 {
    padding-bottom: 1rem;
}

.contact-partner p {
    padding-bottom: 2rem;
}

/* End join section */

/* Operations section */
.img-operations {
    width: 100%;
}

.operations h2 {
    margin-bottom: 1rem;
}

.operations .col-4 h3,
.operations .row {
    padding-bottom: 2rem;
}

.teams {
    padding-top: 8rem;
    padding-bottom: 2.5rem;
}

/* End Operations section */

/* Companies section */

.companies img {
    width: 40%;

}

.square {
    width: 100%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
}

.square-1 {
    background-color: var(--dbx-square1);
    border: 1rem solid rgba(207, 255, 199, 0.451)
}

.square-2 {
    background-color: var(--dbx-square2);
}

.square-3 {
    background-color: var(--dbx-square3);
}

.square-4 {
    background-color: var(--dbx-square4);
}

.square-5 {
    background-color: var(--dbx-square5);
}

.square-6 {
    background-color: var(--dbx-square6);
}

.square-7 {
    background-color: var(--dbx-square7);
}

.square-8 {
    background-color: var(--dbx-square8);
}

.wrap {
    width: 50%;
    margin: auto;

}

.square img {
    filter: invert(1);
}

.large-square {
    padding: 2rem;
    background-color: #F5F4F4;
    height: 100%;
}

.designit {
    padding-bottom: 2rem;
}

.large-square-hr {
    width: 80px;
}

.large-square p {
    padding-top: 2rem;
}

/* End Companies section */

/* CTA section */

.call-to-action {
    background-color: var(--dbx-hero);
    height: 300px;
}

.bring {
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4rem;

}

.questions {
    padding-bottom: 8rem;
}

.bring h2 {
    color: var(--dbx-square3);
}

/* End CTA section */

/* FAQ section */



.questions h2,
.question p,
.chevron h4, .faq-text p{
    padding-bottom: 2rem;

}

.chevron {
    padding-top: 2rem;
    justify-content: space-between;
}

.chevron p{
    display: none;
}


.chevron:hover p{
    display: inline;
}
.chevron:hover i{
    transform: rotate(180deg);
}

/* End FAQ section */

/* Footer */

footer {
    background-color: var(--dbx-black);
    height: 600px;
    color: var(--dbx-white);
}

footer h3 {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

footer a {
    color: white;
    text-decoration: none;
}

footer li {
    padding-bottom: 1rem;
}

.under {
    width: 60%;
    margin: auto;
    padding-top: 4rem;
}

footer hr {
    width: 100px;
}

.lang {
    padding-top: 1rem;
    color: var(--dbx-grey);
}