*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --dbx-primary: #0061ff;
    --dbx-hero: #b4d0e7;
    --dbx-check: #4981ff;
    --dbx-grey: grey;
    --dbx-white: #ffffff;
    --dbx-trial: #b4d0e7;
    --dbx-trial-text: #610842;
    --dbx-black: #000000;
}

ul {
    list-style-type: none;
}



/* End Common */

/* Utilities */

.d-flex{
    display: flex;
}

/* End Utilities */

/* Header */

nav{
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

.right-nav{
    align-items: center;
}

nav ul{
    color: var(--dbx-grey);
    gap: 2rem;
}

nav img{
    margin-right: 2rem;
}

nav button{
    margin-left: 2rem;
}

button{
    border: none;
    font-family: Open Sans;
    padding: .5rem 1rem;
}

.blue-button{
    background-color: var(--dbx-primary);
    color: var(--dbx-white);
    text-align: center;
    
}

main{
    background-color: var(--dbx-hero);
    height: 2500px;
    width: 100%;
}


/* End Header */

/* Main */

.hero{
    width: 60%;
    margin: auto;
    background-color: beige;
    height: 500px;
    padding-top: 2rem;
}

h1{
    font-weight: 800;
    font-size: -webkit-xxx-large;
}

.col-4{
    width: calc(100% / 12 * 4);
    background-color: #0061ff;
    height: 100px;
    margin: 0;
}

.col-8{
    width: calc(100% / 12 * 8);
    background-color: #68778f;
    height: 100px;
    margin: 0;
}


.debug footer{
    background-color: rgb(0, 0, 0);
    height: 350px;
    width: 100%;
}